{{!-- blog body --}}
<div class="row">
    <div class="col-12 mx-auto text-left mt-5">
        <div class="card text-dark shadow">
            <div class="card-header">
                <h1>{{ post.title }}</h1>
                <p>Written by <strong>{{ post.user.username }}</strong> - <strong>{{ format_date post.createdAt }}</strong></p>
            </div>
            <div class="card-body">
                <p>{{ post.body }}</p>
            </div>
            
            <div class="card-footer">
                {{#each post.comments}}
                    {{> card_comment}}
                {{/each}}
                {{> form_comment }}
            </div>
        </div>
    </div>
</div>
