<div class="row">
    <div class="text-center mx-auto pt-2">
        <h1>Your Posts</h1>
    </div>
</div>

{{#if posts.[0]}}
    {{#each posts}}
        <div class="container">
            {{> card_post}}
        </div>
    {{/each}}
{{else}}
    <div class="container">
        <div class="row justify-content-center">
            <a href="/create"><button class="btn btn-secondary">Create your first post!</button></a>
        </div>
    </div>
{{/if}}